#!/usr/bin/make -f

PYTHONS:=$(shell pyversions -vr)

include /usr/share/openstack-pkg-tools/pkgos.make
export OSLO_PACKAGE_VERSION=$(VERSION)

%:
	dh $@ --buildsystem=python_distutils --with python2

override_dh_auto_test:
ifeq (,$(filter nocheck,$(DEB_BUILD_OPTIONS)))
	PYTHONPATH=$(CURDIR)/debian/python-ironic-ui/usr/lib/python2.7/dist-packages \
		NOSE_WITH_OPENSTACK=1 \
		NOSE_OPENSTACK_COLOR=1 \
		NOSE_OPENSTACK_RED=0.05 \
		NOSE_OPENSTACK_YELLOW=0.025 \
		NOSE_OPENSTACK_SHOW_ELAPSED=1 \
		python $(CURDIR)/manage.py test ironic_ui --settings=ironic_ui.test.settings
endif

override_dh_clean:
	dh_clean -O--buildsystem=python_distutils

override_dh_auto_install:
	dh_auto_install -O--buildsystem=python_distutils
	# Activates in the dashboard
	set -e ; for pyvers in $(PYTHONS); do \
		mkdir -p $(CURDIR)/debian/python-ironic-ui/usr/lib/python$$pyvers/dist-packages/openstack_dashboard/enabled ; \
		cp $(CURDIR)/ironic_ui/enabled/_2* $(CURDIR)/debian/python-ironic-ui/usr/lib/python$$pyvers/dist-packages/openstack_dashboard/enabled ; \
	done
	mkdir -p $(CURDIR)/debian/python-ironic-ui/usr/share/openstack-dashboard/openstack_dashboard/enabled
	cp $(CURDIR)/ironic_ui/enabled/_2*.py $(CURDIR)/debian/python-ironic-ui/usr/share/openstack-dashboard/openstack_dashboard/enabled

	# Install the api folder stuff
	mkdir -p $(CURDIR)/debian/python-ironic-ui/usr/share/openstack-dashboard/openstack_dashboard/api
	set -e ; for i in ironic.py ironic_rest_api.py ; do \
		cp ironic_ui/api/$$i $(CURDIR)/debian/python-ironic-ui/usr/share/openstack-dashboard/openstack_dashboard/api ; \
	done

	# Copy the admin folder content into dashboards/admin
	mkdir -p $(CURDIR)/debian/python-ironic-ui/usr/share/openstack-dashboard/openstack_dashboard/dashboards/admin
	cp -auxf ironic_ui/static/dashboard/admin/ironic /usr/share/openstack-dashboard/openstack_dashboard/dashboards/admin

	# TODO: Copy the static files
	mkdir -p $(CURDIR)/debian/python-ironic-ui/usr/share/openstack-dashboard/openstack_dashboard/static/dashboard/admin
	cp -auxf ironic_ui/static/dashboard/admin/ironic $(CURDIR)/python-ironic-ui/usr/share/openstack-dashboard/openstack_dashboard/static/dashboard/admin
